<!-- *****************************************

        approver_edit.hbs

***************************************** -->  

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container  container-fluid head-tit">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                   data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 name="titulo" id="titulo">
               {{ title }}
            </h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"> <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                  aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a onclick="grabar()" name="grabar" id="grabar">Grabar</a></li>

                  <li><a href="/approver">Salir sin Grabar</a></li>
                  <li role="separator" class="divider"></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/">Regresar al Menu Principal</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</nav>



<!--

     BODY

<form action="/approver_edit_post/{{ this.tdetail }}" method="post" 
-->

<form action="/approver_insert" method="post" 
      id="approver_insert" name="approver_insert" 
      class="form-horizontal">

    <div class="container">

        <div class="row">

            <input id="returnaction"  name="returnaction" type="hidden" />
            <input  name="id" id="id" value="{{recdata._id}}" type="hidden"/> 


            <!-- First Column -->         
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Codigo Aprobador -->
                <div class="form-group">
                   <label for="approval" 
                         class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">Codigo Aprobador :</label>
                   <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class='input-group date' id='datetimepicker1'>
                            <input  type='text' class="form-control separate-bottom" 
                                    placeholder="indique código del aprobar" 
                                    name="approver_code" id="approver_code" 
                                    value="{{recdata.approver_code}}"/>
                        </div>
                   </div>                                               
                </div> <!-- Codigo Aprobador -->

                <!-- Description -->
                <div class="form-group">
                   <label for="description"  
                        class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">Descripción: </label>
                   <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class='input-group'>
                            <input  type='text' class="form-control separate-bottom" 
                                    name="description" id="description" 
                                    value="{{recdata.description}}"/>
                        </div>
                   </div>
                </div>
                 <!-- Description -->
            </div>
        </div>
    </div>
</form>


    <!--  ************************************************ -->

    <!--  *********     J A V A S C R I P T    *********** -->

    <!--  ************************************************ -->

    <script type="text/javascript">
         var currentRow = -1;
    </script>

    <script type="text/javascript">



        // ------------------------------------
        //         modifyline()
        // -----------------------------------
        function modifyline()
        {
          alert("Modify Line");
        };

        // ------------------------------------
        //         deleteline()
        // -----------------------------------
        function deleteline()
        {
          alert("Delete Line");
        };

    </script>


    <script type="text/javascript">

        function grabar()
        {
            var action = $('#titulo').text();
            action = action.trim().substr(0,5); 
            // alert(action);

            /*
            var t_id = $('#id').text();
            if (action == 'Crear')
            {
                alert('Entror por otra');  
                document.getElementById('returnaction').value = "Crear"                    
            }
            else
            {
                document.getElementById('returnaction').value = "Modificar"
            }
            */
            document.getElementById('returnaction').value = "Crear"
            $('#approver_insert').submit();
        };


    </script>   

